@font-face {
	font-family: 'Verdana';
	src: url('fonts/Verdana.eot');
	src: local('☺'), url('fonts/Verdana.woff') format('woff'), url('fonts/Verdana.ttf') format('truetype'), url('fonts/Verdana.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
