/*fonts*/


/*HoztStyle*/

.top10 {
    padding-top: 10px;
}
.top15 {
    padding-top: 15px;
}
.top20 {
    padding-top: 20px;
}
.top30 {
    padding-top: 30px;
}
.top50 {
    padding-top: 50px;
}
.bot10 {
    padding-bottom: 10px;
}
.bot15 {
    padding-bottom: 15px;
}
.bot20 {
    padding-bottom: 20px;
}
.bot30 {
    padding-bottom: 30px;
}
.bot50 {
    padding-bottom: 50px;
}
.m0 {
    margin: 0 !important;
}
.m20 {
    margin: 20px;
}
.m40 {
    margin: 40px;
}
.mt0 {
    margin-top: 0;
}
.mb0 {
    margin-bottom: 0;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}
.mt50 {
    margin-top: 50px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb50 {
    margin-bottom: 50px;
}
.pad0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.pad20 {
    padding: 20px;
}
.pad40 {
    padding: 40px;
}
.pad60 {
    padding: 60px;
}
.pad0-10 {
    padding-left: 0px;
    padding-right: 10px;
}
.pad10-0 {
    padding-left: 15px;
    padding-right: 0px;
}
.pad0-15 {
    padding-left: 0px;
    padding-right: 15px;
}
.pad15-0 {
    padding-left: 15px;
    padding-right: 0px;
}
.pad0-20 {
    padding-left: 0px;
    padding-right: 20px;
}
.pad20-0 {
    padding-left: 20px;
    padding-right: 0px;
}
.pad0-30 {
    padding-left: 0px;
    padding-right: 30px;
}
.pad30-0 {
    padding-left: 30px;
    padding-right: 0px;
}
.pad0-50 {
    padding-left: 0px;
    padding-right: 50px;
}
.pad50-0 {
    padding-left: 50px;
    padding-right: 0px;
}
.clearfix {
    clear: both;
}
.autowid {
    width: 100%;
}
.inline-b {
    display: inline-block;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
a, a:hover {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    color: currentColor;
}
a:active, a:focus {
    color: #EF5A24;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
hr {
    margin-top: 100px;
    margin-left: : 10%;
    ;
    width: 80%;
    border: 1.5px solid #eeeeee;
    border-radius: 300px/10px;
    height: 0px;
    text-align: center;
}
.izquierda {
    text-align: left !important;
}
.centrado {
    text-align: center !important;
}
.derecha {
    text-align: right !important;
}
.bg-primary {
    background-color: #fff;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 56px;
    line-height: 0;
    padding: 10px;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default {
    border-color: transparent;
    font-family: 'Verdana', sans-serif;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar-default{
    background-color: rgba(0, 0, 0, 0.9) !important;
    border: none !important;
}
.navbar-default a{
  color: #fff !important;
}
.navbar-header .affix {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border: none !important;
}
.navbar.collapse {
    background-color: rgba(0, 0, 0, 0.8);
}
.navbar-default .navbar-header .navbar-brand {
    color: #fff;
    font-family: 'Verdana', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
    color: #EE5A23;
}
.navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}
.navbar-default .nav> li> a, .navbar-default .nav> li> a:focus {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}
.navbar-default .nav> li.active> a, .navbar-default .nav> li.active> a:focus {
    background-color: transparent;
    font-weight: bold;
    transition: font-weight .3s ease;
}
.navbar-default .nav> li.active> a::before, .navbar-default .nav> li.active> a:focus::before {
    -webkit-transition: ease all .4s;
    transition: ease all .4s;
    content: "";
    position: absolute;
    left: 0 !important;
    bottom: 25%;
    background-color: #EF5A24 !important;
    width: 100% !important;
    height: 2px !important;
}
.navbar-default .nav> li.active> a:hover, .navbar-default .nav> li.active> a:focus:hover {
    background-color: transparent;
}
header {
    position: relative;
    width: 100%;
    min-height: auto;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    text-align: center !important;
    color: white;
}
header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}

/*Clase de titulos y textos centrales*/

.sector {
    color: #979797;
    position: relative;
    padding: 80px 0;
}
.sector .titulo-sector {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: static;
    display: block;
}
.underline {
    border-bottom: 2px solid #ef5a24;
}
.sector p {
    text-align: justify !important;
}
.sector figure {
    margin-top: 20px;
    max-height: 360px;
    overflow: hidden;
}
.sector figure img {
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
}
.sector .lista p {
    font-size: 20px;
}
.la-raya {
    width: 10%;
    height: 2px;
    background-color: #EF5A24;
    margin-left: 80%;
    margin-top: 40px;
    border-radius: 5px;
    margin-bottom: 60px;
}
.card-block {
    background-color: #f0f0f0;
    padding: 20px;
}
.card-block h2, .card-block h3, .card-block h4, .card-block h5 {
    text-align: left;
}
.contacto {
    padding: 0 !important;
    position: relative;
    height: 740px;
    width: 100%;
    background-image: url('../img/contact_us.jpg');
    background-size: cover;
}
#formulario-contacto {
    font-family: 'Verdana', sans-serif;
}
#formulario-contacto ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
#formulario-contacto ul li {
    width: 100%;
    list-style: none !important;
}
#formulario-contacto ul li input, #formulario-contacto ul li textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #fff;
    outline: none;
    color: #fff;
}
#formulario-contacto ul li input, #formulario-contacto ul li textarea {
    color: #fff;
    padding: 10px 0;
}
#formulario-contacto button {
    background-color: transparent;
    border: none;
    color: #fff;
}
#formulario-contacto button::before, #formulario-contacto button::before {
    -webkit-transition: ease all .4s;
    transition: ease all .4s;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #EF5A24;
    width: 0;
    height: 0;
}
#formulario-contacto button:hover::before, #formulario-contacto button:hover::before {
    left: 0;
    width: 100%;
    height: 2px;
}
::-webkit-input-placeholder {
    color: #fff;
    font-size: 14px;
    font-family: 'Verdana', sans-serif;
}
:-moz-placeholder {
    color: #fff;
    font-size: 14px;
    font-family: 'Verdana', sans-serif;
}
::-moz-placeholder {
    color: #fff;
    font-size: 14px;
    font-family: 'Verdana', sans-serif;
}
:-ms-input-placeholder {
    color: #fff;
    font-size: 14px;
    font-family: 'Verdana', sans-serif;
}
.contacto figure {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 280px;
}
.contacto figure img {
    position: relative;
    top: 20%;
}
.direccion {
    margin-top: 80px;
}
.direccion p {
    color: #fff;
    text-align: center !important;
    font-size: 12px;
}
.direccion p i {
    margin-right: 10px;
}

/*imagenes*/

.img-sector {
    height: 360px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
.img-1 {
    background-image: url('../img/about_us.jpg');
}
.img-2 {
    background-image: url('../img/our_team.jpg');
}
.img-3 {
    background-image: url('../img/products_we_make.jpg');
}
.img-4 {
    background-image: url('../img/chech_criteria.jpg');
}
.img-5 {
    background-image: url('../img/about_us.jpg');
}
.collapse.in {
    /*background-color: #F0F0F0 !important;*/
    margin-bottom: 20px;
}
.collapse.in::before, .collapse.in::before {
    -webkit-transition: ease all .4s;
    transition: ease all .4s;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #EF5A24;
    width: 100%;
    height: 2px;
}
#firstLine a.collapsed i::before, #secondLine a.collapsed i::before, #thirdLine a.collapsed i::before, #fourLine a.collapsed i::before {
    content: "\f00e";
}
#firstLine a i::before, #secondLine a i::before, #thirdLine a i::before, #fourLine a i::before {
    content: "\f010";
}
.sector .centrado h5, .sector .izquierda h5, .sector .derecha h5 {
    font-size: 14px;
}
@media (min-width: 768px) {
    .navbar-right {
        margin-right: 20px;
    }
    .sector .centrado h5, .sector .izquierda h5, .sector .derecha h5 {
        font-size: 18px;
    }
    header .header-content .header-content-inner img {
        height: 100px;
    }
    .logo-menu a img {
        position: absolute;
        left: 50px;
        top: 10px;
        height: 50px;
        margin: 0;
        padding: 0;
    }
    .navbar-default {
        height: 70px !important;
        padding: 10px margin: 0;
        background-color: transparent;
        border-color: transparent !important;
    }
    .navbar-default .navbar-header .navbar-brand {
        color: #fff;
        font-weight: 600;
    }
    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
        transition: ease all .2s;
    }
    .navbar-default .nav> li> a, .navbar-default .nav> li> a:focus {
        color: #fff;
    }
    .navbar-default .nav> li> a:hover, .navbar-default .nav> li> a:focus:hover {
        color: #fff;
    }
    .navbar-default.affix {
        background-color: rgba(0, 0, 0, 0.8);
        ;
        margin: 0;
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        color: #fff;
        font-size: 14px;
        text-align: center !important;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #EF5A24;
    }
    .navbar-default.affix .nav> li> a, .navbar-default.affix .nav> li> a:focus {
        color: #fff;
    }
    .navbar-default.affix .nav> li> a::before, .navbar-default.affix .nav> li> a:focus::before {
        -webkit-transition: ease all .4s;
        transition: ease all .4s;
        content: "";
        position: absolute;
        left: 50%;
        bottom: 25%;
        background-color: #EF5A24;
        width: 0;
        height: 0;
    }
    .navbar-default.affix .nav> li> a:hover::before, .navbar-default.affix .nav> li> a:hover::before {
        left: 0;
        width: 100%;
        height: 2px;
    }
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner h1 {
        font-size: 50px;
    }
    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
